[class^="flag-24-"],
[class*=" flag-24-"]
{
  background-image: url('../img/flags/flags-24-sprite.png');
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-top: 0px;
  *margin-right: .3em;
  line-height: 24px;
  vertical-align: text-top;
  background-position: 24px 24px;
  background-repeat: no-repeat;
}
.flag-24-AD{ background-position: 0 0; }
.flag-24-AE{ background-position: 0 -25px; }
.flag-24-AF{ background-position: 0 -50px; }
.flag-24-AG{ background-position: 0 -75px; }
.flag-24-AI{ background-position: 0 -100px; }
.flag-24-AL{ background-position: 0 -125px; }
.flag-24-AM{ background-position: 0 -150px; }
.flag-24-AN{ background-position: 0 -175px; }
.flag-24-AO{ background-position: 0 -200px; }
.flag-24-AQ{ background-position: 0 -225px; }
.flag-24-AR{ background-position: 0 -250px; }
.flag-24-AS{ background-position: 0 -275px; }
.flag-24-AT{ background-position: 0 -300px; }
.flag-24-AU{ background-position: 0 -325px; }
.flag-24-AW{ background-position: 0 -350px; }
.flag-24-AX{ background-position: 0 -375px; }
.flag-24-AZ{ background-position: 0 -400px; }
.flag-24-BA{ background-position: 0 -425px; }
.flag-24-BB{ background-position: 0 -450px; }
.flag-24-BD{ background-position: 0 -475px; }
.flag-24-BE{ background-position: 0 -500px; }
.flag-24-BF{ background-position: 0 -525px; }
.flag-24-BG{ background-position: 0 -550px; }
.flag-24-BH{ background-position: 0 -575px; }
.flag-24-BI{ background-position: 0 -600px; }
.flag-24-BJ{ background-position: 0 -625px; }
.flag-24-BL{ background-position: 0 -650px; }
.flag-24-BM{ background-position: 0 -675px; }
.flag-24-BN{ background-position: 0 -700px; }
.flag-24-BO{ background-position: 0 -725px; }
.flag-24-BR{ background-position: 0 -750px; }
.flag-24-BS{ background-position: 0 -775px; }
.flag-24-BT{ background-position: 0 -800px; }
.flag-24-BW{ background-position: 0 -825px; }
.flag-24-BY{ background-position: 0 -850px; }
.flag-24-BZ{ background-position: 0 -875px; }
.flag-24-CA{ background-position: 0 -900px; }
.flag-24-CC{ background-position: 0 -925px; }
.flag-24-CD{ background-position: 0 -950px; }
.flag-24-CF{ background-position: 0 -975px; }
.flag-24-CG{ background-position: 0 -1000px; }
.flag-24-CH{ background-position: 0 -1025px; }
.flag-24-CI{ background-position: 0 -1050px; }
.flag-24-CK{ background-position: 0 -1075px; }
.flag-24-CL{ background-position: 0 -1100px; }
.flag-24-CM{ background-position: 0 -1125px; }
.flag-24-CN{ background-position: 0 -1150px; }
.flag-24-CO{ background-position: 0 -1175px; }
.flag-24-CR{ background-position: 0 -1200px; }
.flag-24-CU{ background-position: 0 -1225px; }
.flag-24-CV{ background-position: 0 -1250px; }
.flag-24-CW{ background-position: 0 -1275px; }
.flag-24-CX{ background-position: 0 -1300px; }
.flag-24-CY{ background-position: 0 -1325px; }
.flag-24-CZ{ background-position: 0 -1350px; }
.flag-24-DE{ background-position: 0 -1375px; }
.flag-24-DJ{ background-position: 0 -1400px; }
.flag-24-DK{ background-position: 0 -1425px; }
.flag-24-DM{ background-position: 0 -1450px; }
.flag-24-DO{ background-position: 0 -1475px; }
.flag-24-DZ{ background-position: 0 -1500px; }
.flag-24-EC{ background-position: 0 -1525px; }
.flag-24-EE{ background-position: 0 -1550px; }
.flag-24-EG{ background-position: 0 -1575px; }
.flag-24-EH{ background-position: 0 -1600px; }
.flag-24-ER{ background-position: 0 -1625px; }
.flag-24-ES{ background-position: 0 -1650px; }
.flag-24-ET{ background-position: 0 -1675px; }
.flag-24-EU{ background-position: 0 -1700px; }
.flag-24-FI{ background-position: 0 -1725px; }
.flag-24-FJ{ background-position: 0 -1750px; }
.flag-24-FK{ background-position: 0 -1775px; }
.flag-24-FM{ background-position: 0 -1800px; }
.flag-24-FO{ background-position: 0 -1825px; }
.flag-24-FR{ background-position: 0 -1850px; }
.flag-24-GA{ background-position: 0 -1875px; }
.flag-24-GB{ background-position: 0 -1900px; }
.flag-24-GD{ background-position: 0 -1925px; }
.flag-24-GE{ background-position: 0 -1950px; }
.flag-24-GG{ background-position: 0 -1975px; }
.flag-24-GH{ background-position: -25px 0; }
.flag-24-GI{ background-position: -25px -25px; }
.flag-24-GL{ background-position: -25px -50px; }
.flag-24-GM{ background-position: -25px -75px; }
.flag-24-GN{ background-position: -25px -100px; }
.flag-24-GQ{ background-position: -25px -125px; }
.flag-24-GR{ background-position: -25px -150px; }
.flag-24-GS{ background-position: -25px -175px; }
.flag-24-GT{ background-position: -25px -200px; }
.flag-24-GU{ background-position: -25px -225px; }
.flag-24-GW{ background-position: -25px -250px; }
.flag-24-GY{ background-position: -25px -275px; }
.flag-24-HK{ background-position: -25px -300px; }
.flag-24-HN{ background-position: -25px -325px; }
.flag-24-HR{ background-position: -25px -350px; }
.flag-24-HT{ background-position: -25px -375px; }
.flag-24-HU{ background-position: -25px -400px; }
.flag-24-IC{ background-position: -25px -425px; }
.flag-24-ID{ background-position: -25px -450px; }
.flag-24-IE{ background-position: -25px -475px; }
.flag-24-IL{ background-position: -25px -500px; }
.flag-24-IM{ background-position: -25px -525px; }
.flag-24-IN{ background-position: -25px -550px; }
.flag-24-IQ{ background-position: -25px -575px; }
.flag-24-IR{ background-position: -25px -600px; }
.flag-24-IS{ background-position: -25px -625px; }
.flag-24-IT{ background-position: -25px -650px; }
.flag-24-JE{ background-position: -25px -675px; }
.flag-24-JM{ background-position: -25px -700px; }
.flag-24-JO{ background-position: -25px -725px; }
.flag-24-JP{ background-position: -25px -750px; }
.flag-24-KE{ background-position: -25px -775px; }
.flag-24-KG{ background-position: -25px -800px; }
.flag-24-KH{ background-position: -25px -825px; }
.flag-24-KI{ background-position: -25px -850px; }
.flag-24-KM{ background-position: -25px -875px; }
.flag-24-KN{ background-position: -25px -900px; }
.flag-24-KP{ background-position: -25px -925px; }
.flag-24-KR{ background-position: -25px -950px; }
.flag-24-KW{ background-position: -25px -975px; }
.flag-24-KY{ background-position: -25px -1000px; }
.flag-24-KZ{ background-position: -25px -1025px; }
.flag-24-LA{ background-position: -25px -1050px; }
.flag-24-LB{ background-position: -25px -1075px; }
.flag-24-LC{ background-position: -25px -1100px; }
.flag-24-LI{ background-position: -25px -1125px; }
.flag-24-LK{ background-position: -25px -1150px; }
.flag-24-LR{ background-position: -25px -1175px; }
.flag-24-LS{ background-position: -25px -1200px; }
.flag-24-LT{ background-position: -25px -1225px; }
.flag-24-LU{ background-position: -25px -1250px; }
.flag-24-LV{ background-position: -25px -1275px; }
.flag-24-LY{ background-position: -25px -1300px; }
.flag-24-MA{ background-position: -25px -1325px; }
.flag-24-MC{ background-position: -25px -1350px; }
.flag-24-MD{ background-position: -25px -1375px; }
.flag-24-ME{ background-position: -25px -1400px; }
.flag-24-MF{ background-position: -25px -1425px; }
.flag-24-MG{ background-position: -25px -1450px; }
.flag-24-MH{ background-position: -25px -1475px; }
.flag-24-MK{ background-position: -25px -1500px; }
.flag-24-ML{ background-position: -25px -1525px; }
.flag-24-MM{ background-position: -25px -1550px; }
.flag-24-MN{ background-position: -25px -1575px; }
.flag-24-MO{ background-position: -25px -1600px; }
.flag-24-MP{ background-position: -25px -1625px; }
.flag-24-MQ{ background-position: -25px -1650px; }
.flag-24-MR{ background-position: -25px -1675px; }
.flag-24-MS{ background-position: -25px -1700px; }
.flag-24-MT{ background-position: -25px -1725px; }
.flag-24-MU{ background-position: -25px -1750px; }
.flag-24-MV{ background-position: -25px -1775px; }
.flag-24-MW{ background-position: -25px -1800px; }
.flag-24-MX{ background-position: -25px -1825px; }
.flag-24-MY{ background-position: -25px -1850px; }
.flag-24-MZ{ background-position: -25px -1875px; }
.flag-24-NA{ background-position: -25px -1900px; }
.flag-24-NC{ background-position: -25px -1925px; }
.flag-24-NE{ background-position: -25px -1950px; }
.flag-24-NF{ background-position: -25px -1975px; }
.flag-24-NG{ background-position: -50px 0; }
.flag-24-NI{ background-position: -50px -25px; }
.flag-24-NL{ background-position: -50px -50px; }
.flag-24-NO{ background-position: -50px -75px; }
.flag-24-NP{ background-position: -50px -100px; }
.flag-24-NR{ background-position: -50px -125px; }
.flag-24-NU{ background-position: -50px -150px; }
.flag-24-NZ{ background-position: -50px -175px; }
.flag-24-OM{ background-position: -50px -200px; }
.flag-24-PA{ background-position: -50px -225px; }
.flag-24-PE{ background-position: -50px -250px; }
.flag-24-PF{ background-position: -50px -275px; }
.flag-24-PG{ background-position: -50px -300px; }
.flag-24-PH{ background-position: -50px -325px; }
.flag-24-PK{ background-position: -50px -350px; }
.flag-24-PL{ background-position: -50px -375px; }
.flag-24-PN{ background-position: -50px -400px; }
.flag-24-PR{ background-position: -50px -425px; }
.flag-24-PS{ background-position: -50px -450px; }
.flag-24-PT{ background-position: -50px -475px; }
.flag-24-PW{ background-position: -50px -500px; }
.flag-24-PY{ background-position: -50px -525px; }
.flag-24-QA{ background-position: -50px -550px; }
.flag-24-RO{ background-position: -50px -575px; }
.flag-24-RS{ background-position: -50px -600px; }
.flag-24-RU{ background-position: -50px -625px; }
.flag-24-RW{ background-position: -50px -650px; }
.flag-24-SA{ background-position: -50px -675px; }
.flag-24-SB{ background-position: -50px -700px; }
.flag-24-SC{ background-position: -50px -725px; }
.flag-24-SD{ background-position: -50px -750px; }
.flag-24-SE{ background-position: -50px -775px; }
.flag-24-SG{ background-position: -50px -800px; }
.flag-24-SH{ background-position: -50px -825px; }
.flag-24-SI{ background-position: -50px -850px; }
.flag-24-SK{ background-position: -50px -875px; }
.flag-24-SL{ background-position: -50px -900px; }
.flag-24-SM{ background-position: -50px -925px; }
.flag-24-SN{ background-position: -50px -950px; }
.flag-24-SO{ background-position: -50px -975px; }
.flag-24-SR{ background-position: -50px -1000px; }
.flag-24-SS{ background-position: -50px -1025px; }
.flag-24-ST{ background-position: -50px -1050px; }
.flag-24-SV{ background-position: -50px -1075px; }
.flag-24-SY{ background-position: -50px -1100px; }
.flag-24-SZ{ background-position: -50px -1125px; }
.flag-24-TC{ background-position: -50px -1150px; }
.flag-24-TD{ background-position: -50px -1175px; }
.flag-24-TF{ background-position: -50px -1200px; }
.flag-24-TG{ background-position: -50px -1225px; }
.flag-24-TH{ background-position: -50px -1250px; }
.flag-24-TJ{ background-position: -50px -1275px; }
.flag-24-TK{ background-position: -50px -1300px; }
.flag-24-TL{ background-position: -50px -1325px; }
.flag-24-TM{ background-position: -50px -1350px; }
.flag-24-TN{ background-position: -50px -1375px; }
.flag-24-TO{ background-position: -50px -1400px; }
.flag-24-TR{ background-position: -50px -1425px; }
.flag-24-TT{ background-position: -50px -1450px; }
.flag-24-TV{ background-position: -50px -1475px; }
.flag-24-TW{ background-position: -50px -1500px; }
.flag-24-TZ{ background-position: -50px -1525px; }
.flag-24-UA{ background-position: -50px -1550px; }
.flag-24-UG{ background-position: -50px -1575px; }
.flag-24-US{ background-position: -50px -1600px; }
.flag-24-UY{ background-position: -50px -1625px; }
.flag-24-UZ{ background-position: -50px -1650px; }
.flag-24-VA{ background-position: -50px -1675px; }
.flag-24-VC{ background-position: -50px -1700px; }
.flag-24-VE{ background-position: -50px -1725px; }
.flag-24-VG{ background-position: -50px -1750px; }
.flag-24-VI{ background-position: -50px -1775px; }
.flag-24-VN{ background-position: -50px -1800px; }
.flag-24-VU{ background-position: -50px -1825px; }
.flag-24-WF{ background-position: -50px -1850px; }
.flag-24-WS{ background-position: -50px -1875px; }
.flag-24-YE{ background-position: -50px -1900px; }
.flag-24-YT{ background-position: -50px -1925px; }
.flag-24-ZA{ background-position: -50px -1950px; }
.flag-24-ZM{ background-position: -50px -1975px; }
.flag-24-ZW{ background-position: -75px 0; }